<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url('assets/files/teahu.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }

  .search-inputs .col-sm-2,
  .search-inputs .col-sm-1 {
    padding: 0 5px;
  }

  .alertRedColor {
    color: red;
  }
</style>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{ 'Region List' | translate }}</h1>
      </div>

      <div class="row search-inputs justify-content-center">
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.state"
            placeholder="{{ 'Search  state' | translate }}" (input)="validateInput($event, 'name')">
          <div *ngIf="!isValidNameInput" class="text-danger">{{ nameErrorMessage }}</div>
        </div>


        
        <!-- <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="form.searchParams.latitude"
            placeholder="{{ 'Search latitude' | translate }}" (input)="validateDouble($event)">
          <div *ngIf="!validateDouble" class="text-danger">{{ errorMessageDouble }}</div>
        </div>
         -->


        
         <div class="col-sm-2">
          <input type="text" name="latitude" [(ngModel)]="form.searchParams.latitude" class="form-control"
            (keydown)="validateDouble($event)" maxlength="9"
            placeholder="{{ 'Search latitude' | translate }}" required>
        
          <!-- Display error message below input field -->
          <div *ngIf="errorMessageDouble" class="alertRedColor mt-2">
            {{ errorMessageDouble }}
          </div>
        </div>
        
        

        
        <div class="col-sm-2">
          <input type="text" name="price" [(ngModel)]="form.searchParams.price" class="form-control"
            (keydown)="filterInput($event, 'errorMessagePrice', 8, 'int')"
            placeholder="{{ 'Enter price' | translate }}">
          <span *ngIf="errorMessagePrice" class="alertRedColor">{{ errorMessagePrice }}</span>
        </div>



        <!-- <div class="col-sm-2">
          <input type="date" name="startDate" [(ngModel)]="form.searchParams.startDate" class="form-control"
            placeholder="{{ 'Enter Start Date' | translate }}" (change)="validateDate($event)">
          <div *ngIf="!isValidStartDate" class="text-danger">
            {{ startDateErrorMessage }}
          </div>
        </div> -->



        <div class="col-sm-2">
          <select class="form-control" name="region" [(ngModel)]="form.searchParams.region" aria-label="ngSelected" required>
            <option [ngValue]="undefined">{{ 'Select region' | translate }}</option>
            <option *ngFor="let leve of form.preload.regionList" [value]="leve.key">{{ leve.value }}</option>
          </select>
          
        </div>

        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">{{ 'Search' | translate }}</button>
        </div>

        <div class="col-sm-2">
          <button (click)="forward('/region')" type="button" class="btn btn-success">
            {{ 'Add Region' | translate }}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">{{ 'Delete' | translate }}</button>
        </div>
      </div>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover font-weight-bold text-dark">
          <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{ 'S.No' | translate }}</th>
              <th>{{ 'State' | translate }}</th>
              <th>{{ 'Price' | translate }}</th>
              <th>{{ 'Latitude' | translate }}</th>
              <th>{{ 'Region' | translate }}</th>
              <th>{{ 'Edit' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" /></td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.state }}</td>
              <td>{{ m.price  }}</td>
              <td>{{ m.latitude }}</td>
              <td>{{ findSelValueByKey(m.region,form.preload.regionList) }}</td>

              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/region/' + m.id)">
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' | translate }}</button>

          <div>
            <a class="btn btn-warning mr-1" [routerLink]="['/regionlist']" (click)="exit()">
              {{ 'Reset' | translate }}
            </a>
          </div>

          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/regionlist']" (click)="exit()">
              {{ 'Back' | translate }}
            </a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{ 'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
