<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">
          <form name="abcForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add ABC' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update ABC' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Name Field with Validation -->
            <div class="form-group pt-2">
              <label><b>{{ 'Name' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="name" [(ngModel)]="form.data.name" class="form-control" maxlength="16"
                  (keydown)="validateName($event)" placeholder="{{ 'Enter name' | translate }}" required>
              </div>
              <span *ngIf="errorMessageName" class="alertRedColor">{{ errorMessageName }}</span>
              <span *ngIf="form.inputerror?.name" class="alertRedColor">{{ form.inputerror.name }}</span>
            </div>


            <div class="form-group pt-2">
              <label><b>{{ 'Overview' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <textarea name="overview" [(ngModel)]="form.data.overview" class="form-control" maxlength="101"
                  (keydown)="validateOverview($event)" placeholder="{{ 'Enter overview' | translate }}" required></textarea>
              </div>
              <span *ngIf="errorMessageOverview" class="alertRedColor">{{ errorMessageOverview }}</span>
              <span *ngIf="form.inputerror?.overview" class="alertRedColor">{{ form.inputerror.overview }}</span>
            </div>
            

            <!-- Amount Field -->
            <div class="form-group pt-2">
              <label><b>{{ 'Coverage Amount' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="coverageAmount" [(ngModel)]="form.data.coverageAmount" class="form-control"
                  (keydown)="validateIntegerInput($event)" maxlength="9"
                  placeholder="{{ 'Enter coverageAmount' | translate }}" required>
              </div>
              <span *ngIf="errorMsgInt" class="alertRedColor">{{ errorMsgInt }}</span>
              <span *ngIf="form.inputerror?.coverageAmount" class="alertRedColor">{{ form.inputerror.coverageAmount }}</span>
            </div>


            <div class="form-group pt-2">
              <label><b>{{ 'Quantity' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="quantity" [(ngModel)]="form.data.quantity" class="form-control"
                  (keydown)="filterInput($event, 'errorMessageQuantity', 8, 'int')"
                  placeholder="{{ 'Enter quantity' | translate }}" required>
              </div>
              <span *ngIf="errorMessageQuantity" class="alertRedColor">{{ errorMessageQuantity }}</span>
              <span *ngIf="form.inputerror?.quantity" class="alertRedColor">{{ form.inputerror.quantity }}</span>
            </div>

            


            <div class="form-group">
              <label><b>{{ ' Latitude' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>
                <input type="text" name="latitude" [(ngModel)]="form.data.latitude" class="form-control" maxlength="11"
                  placeholder="{{ 'Enter latitude' | translate }}"   (keydown)="validatePositiveDecimalInput($event)" >
              </div>
              
              <span *ngIf="errorMessageDecimal" class="alertRedColor">{{errorMessageDecimal}}</span>
              <span *ngIf="form.inputerror?.latitude" class="alertRedColor">{{form.inputerror.latitude}}</span>
            </div>


            <div class="form-group">
              <label><b>{{ ' Longitude' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>
                <input type="text" name="longitude" [(ngModel)]="form.data.longitude" class="form-control" maxlength="11"
                  placeholder="{{ 'Enter longitude' | translate }}"   (keydown)="validatePositiveDecimalInput1($event)" >
              </div>
              
              <span *ngIf="errorMessageDecimal1" class="alertRedColor">{{errorMessageDecimal1}}</span>
              <span *ngIf="form.inputerror.longitude" class="alertRedColor">{{form.inputerror.longitude}}</span>
            </div>

            <!-- Start Date Field -->
            <div class="form-group pt-2">
              <label><b>{{ 'Start Date' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar grey-text"></i></div>
                </div>
                <input type="date" name="startDate" [value]="form.data.startDate | date:'yyyy-MM-dd'" class="form-control"
                  (input)="form.data.startDate=parseDate($event.target.value)"
                  placeholder="{{ 'Enter Start Date' | translate }}" required>
              </div>
              <span *ngIf="form.inputerror?.startDate" class="alertRedColor">{{ form.inputerror.startDate }}</span>
            </div>


            <div class="form-group pt-2">
              <label><b>{{ 'End Date' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar grey-text"></i></div>
                </div>
                <input type="date" name="endDate" [value]="form.data.endDate | date:'yyyy-MM-dd'" class="form-control"
                  (input)="form.data.endDate=parseDate($event.target.value)"
                  placeholder="{{ 'Enter endDate' | translate }}" required>
              </div>
              <span *ngIf="form.inputerror?.endDate" class="alertRedColor">{{ form.inputerror.endDate }}</span>
            </div>

            <!-- Analysis Type Field -->
            <div class="form-group pt-2">
              <label><b>{{ 'Analysis Type' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-paint-brush grey-text"></i></div>
                </div>
                <select class="form-control" name="analysisType" [(ngModel)]="form.data.analysisType" aria-label="ngSelected" required>
                  <option [ngValue]="undefined">{{ 'Select Analysis Type' | translate }}</option>
                  <option *ngFor="let type of form.preload.typeList" [value]="type.key">{{ type.value }}</option>
                </select>
              </div>
              <span *ngIf="form.inputerror?.analysisType" class="alertRedColor">{{ form.inputerror.analysisType }}</span>
            </div>

            <div class="row pt-2 pl-2 pb-3">
              <div class="col-md-3"></div>
              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>
              <div class="col-md-1"></div>
              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>
              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/abclist']"
                   style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
